*{
    margin:0;
    padding:0;
}
/* 定义 */
@font-face {
    font-family: 'LED1';
    src: url('../font/LCD.TTF'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'LANTING';
    src: url('../font/LANTING.TTF'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'LCD';
    src: url('../font/opticalculator.ttf'); /* Safari, Android, iOS */
}
html,body{
    width: 100%;
    max-width: 750px;
    min-height: 100vh;
    height: auto!important;
    margin: auto;
    font-family: 'LANTING';
    /*line-height: 1.4;*/
    position: relative;
}
img{
    width:100%;
    display: block;
}


@media screen and (min-width: 320px) {
    html,body {
        font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
    html,body {
        font-size: 48px; } }

@media screen and (min-width: 375px) {
    /*html,body {*/
        /*font-size: 50px; } }*/
    html,body {
        font-size: 48px; } }
@media screen and (min-width: 384px) {
    html,body {
        font-size: 51.2px; } }

@media screen and (min-width: 412px) {
    html,body {
        font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
    html,body {
        font-size: 55.2px; } }

@media screen and (min-width: 600px) {
    html,body {
        font-size: 80px; } }

@media screen and (min-width: 750px) {
    html,body {
        font-size: 100px; } }
